2024-sept/WCF/SistemZaRegistracijuVozila/SistemZaRegistracijuVozilaClient/Connected Services/SistemZaRegistracijuVozila/ServisZaRegistracijuVozila1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62906/ServisZaRegistracijuVozila.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SistemZaRegistracijuVozila" />
  <xs:import schemaLocation="http://localhost:62906/ServisZaRegistracijuVozila.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegistrujVozilo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SistemZaRegistracijuVozila" minOccurs="0" name="vlasnik" nillable="true" type="q1:Vlasnik" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SistemZaRegistracijuVozila" minOccurs="0" name="vozilo" nillable="true" type="q2:Vozilo" />
        <xs:element minOccurs="0" name="datumKRajaRegistracije" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiListuSvihVozila">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SistemZaRegistracijuVozila" minOccurs="0" name="vlasnik" nillable="true" type="q3:Vlasnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiListuSvihVozilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SistemZaRegistracijuVozila" minOccurs="0" name="VratiListuSvihVozilaResult" nillable="true" type="q4:ArrayOfVozilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiListuSvihRegistracija">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SistemZaRegistracijuVozila" minOccurs="0" name="vozilo" nillable="true" type="q5:Vozilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiListuSvihRegistracijaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SistemZaRegistracijuVozila" minOccurs="0" name="VratiListuSvihRegistracijaResult" nillable="true" type="q6:ArrayOfRegistracija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSvaVozilaSaRegistracijama">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSvaVozilaSaRegistracijamaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VratiSvaVozilaSaRegistracijamaResult" nillable="true" type="q7:ArrayOfKeyValueOfVoziloRegistracijauBdveEXE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>