2024-sept/WCF/SistemZaRegistracijuVozila/SistemZaRegistracijuVozilaClient/Connected Services/SistemZaRegistracijuVozila/ServisZaRegistracijuVozila2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62906/ServisZaRegistracijuVozila.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SistemZaRegistracijuVozila" />
  <xs:complexType name="ArrayOfKeyValueOfVoziloRegistracijauBdveEXE">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfVoziloRegistracijauBdveEXE">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SistemZaRegistracijuVozila" name="Key" nillable="true" type="q1:Vozilo" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SistemZaRegistracijuVozila" name="Value" nillable="true" type="q2:Registracija" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfVoziloRegistracijauBdveEXE" nillable="true" type="tns:ArrayOfKeyValueOfVoziloRegistracijauBdveEXE" />
</xs:schema>